$fontRegular: 'proxima-regular';
$fontLight: 'proxima-light';
$fontSemibold: 'proxima-semibold';
$fontExtrabold: 'proxima-extrabold';
$fontBold: 'proxima-bold';

$whiteColor: #fff;
$blackColor: #000;
$blueColor: #2396dd;
$lightBlueColor: #17a2b8;
$pinkColor: #ec1561;
$greenColor: #2bab51;
$darkGreenColor: #16672e;
$orangeColor: #ff9939;
$grayColor: #a2a2a2;
$grayMiddleColor: #343434;
$darkGrayColor: #181717;
$grayTxtColor: #454545;
$transparent: transparent;

$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;
$xxl : 1600px;